* {
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: black;
}

ul {
  display: inline-block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

li {
  display: inline-block;
}

.home {
  width: 93px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}

.home:hover {
  color: rgba(0,209,255,1);
  cursor: pointer;
}

.about_me {
  width: 155px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}

.about_me:hover {
  color: rgba(0,209,255,1);
  cursor: pointer;
}

.contact {
  width: 190px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}

.contact:hover {
  color: rgba(0,209,255,1);
  cursor: pointer;
}

.resume {
  width: 130px;
  color: rgba(0,209,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}

.projects {
  width: 155px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}

.projects:hover {
  color: rgba(0,209,255,1);
  cursor: pointer;
}

.linkedin {
  width: 146px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}

.linkedin:hover {
  color: rgba(0,209,255,1);
  cursor: pointer;
}

.space1 {
  height: 50px;
}

.space2 {
  height: 20px;
}

.space3 {
  height: 50px;
}

.spaceButton {
  height: 70px;
}

.footer {
  width: 202px;
  height: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover
  
}
.logo {
  width: 199px;
  height: 142px;
  background: url("../images/CB-Logo-w.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.copyright {
  width: 197px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 20px;
  display: inline-flex;
  /*position: absolute;
  left: 20px;
  top: 2142px;*/
}

.button {
    width: 300px;
    height: 70px;
    background: rgba(255,255,255,1);
    /*position: absolute;
    top: 3615px;
    left: 1800px;*/
    display: inline-flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  .button:hover {
    background: rgba(0,209,255,1);
    cursor: pointer;
  }

  .buttonSpace2 {
    height: 100px;
  }

  .downloadResume {
    width: 300px;
    height: 70px;
    color: rgba(0,0,0,1);
    /*position: absolute;
    top: 3652px;
    left: 1800px;*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Public Sans;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.resumePicture {
  width: 1390px;
  height: 1799px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: url("../images/resume.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media all and (max-width: 768px) {
  .resumePicture {
  display: none;
  }
  body {
    background-color:dimgray; 
  }
  li {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    text-align: center;
  }
}